DEBUG=

SECRET_KEY=


# Podtgres.
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=


# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_DB=

# Django admin credentials
USERNAME=
EMAIL=
PASSWORD=

# Server IP adress and domain name.
HARVESTER_SERVER_IP_WITH_HTTP=
HARVESTER_SERVER_IP=
