# Run in debug/prod mode
DEBUG=

# Create a postgres DB and connect the Django app 
# with the values listed below.
POSTGRES_USER=kirillnovoselov
POSTGRES_PASSWORD=Scorcer777
POSTGRES_DB=dbtesting

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

# Django admin credentials
USERNAME=Superadmin
EMAIL=fornka2006@yandex.ru
PASSWORD=Scorcer777
